<!-- Survey Topics Card -->
<article
	class="dashboard__card--survey-topics dashboard__card dashboard__card--small"
	aria-label="Survey Topics"
>
	<div class="card__header">
		<h2 class="card__title--capitalize card__title">Survey Topics</h2>
	</div>
	<div class="card__content--list card__content">
		<ul class="card__list">
			<li class="card__list--item">
				A. <a href="#" class="card__list--link"> Pulvinar iaculis placerat vitae dui</a>
			</li>
			<li class="card__list--item">
				B. <a href="#" class="card__list--link"> Massa morbi mattis lectus ornare</a>
			</li>
			<li class="card__list--item">
				C. <a href="#" class="card__list--link"> Diam sem vestibulum purus morbi</a>
			</li>
			<li class="card__list--item">
				A. <a href="#" class="card__list--link"> Pulvinar iaculis placerat vitae dui</a>
			</li>
			<li class="card__list--item">
				B. <a href="#" class="card__list--link"> Massa morbi mattis lectus ornare</a>
			</li>
			<li class="card__list--item">
				C. <a href="#" class="card__list--link"> Diam sem vestibulum purus morbi</a>
			</li>
		</ul>
	</div>
</article>
